.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json
.obsidian/app.json
.obsidian/cache/
.obsidian/temp.md

.trash/
.obsidian/files/trash/

.obsidian/search-history.json
.obsidian/app-history.json
.obsidian/graph.json
.obsidian/starred.json

.obsidian/plugins/*/data.json
.obsidian/plugins/*/main.js

.obsidian/plugins/obsidian-git/data.json

.DS_Store
Thumbs.db
.vscode/
.idea/